
<div id="pricing">
    <div class="price_card alpha">
      <div class="header">
        <span class="price">Low Complexity</span>
        <span class="name">20$ base price</span>
        
      </div>
      <ul class="features">
        <li>Fastest sewing speed</li>
        <li>Delivered with local cargo</li>
        <li>Cheapest option</li>
      </ul>
      <button>Submit Design</button>
      <span class="tip">* Suggested for first time clients</span>
    </div>
    <div class="price_card bravo">
      <div class="header">
        <span class="price">Medium Complexity</span>
        <span class="name">50$ base price</span>
      </div>
      <ul class="features">
        <li>Mediorce sewing speed</li>
        <li>Higher attention to detail</li>
        <li>Delivered by premium cargo service</li>
      </ul>
      <button>Submit Design</button>
      <span class="tip">* Most popular!</span>
    </div>
    <div class="price_card charlie">
      <div class="header">
        <span class="price">High Complexity</span>
        <span class="name">80$ base price</span>
      </div>
      <ul class="features">
        <li></li>
        <li>Higher grade materials used</li>
        <li>Longest sewing time</li>
        <li>Painstakingly crafted, with 30 day refunds</li>
        <li>Mostly used for cosplaying and party dresses</li>
      </ul>
      <button>Submit Design</button>
    </div>
  </div>