<html>
<body class="bg">
  

<div class="float-container">

    <div class="float-child">
      <div class="green">
        <h3 style="text-align: center;">Que Passa Ici?</h3>
        <p class="intro-text">Dui nunc mattis enim ut tellus elementum sagittis vitae. Enim tortor at auctor urna nunc id cursus metus. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Risus feugiat in ante metus dictum at. Est velit egestas dui id ornare arcu odio. Risus feugiat in ante metus dictum at tempor. In vitae turpis massa sed elementum tempus egestas sed. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Sit amet nulla facilisi morbi tempus. Mauris augue neque gravida in. Aliquam ut porttitor leo a diam. Imperdiet nulla malesuada pellentesque elit. Adipiscing bibendum est ultricies integer quis. Sed libero enim sed faucibus turpis in eu. Dictum non consectetur a erat nam at lectus urna. Dui nunc mattis enim ut tellus elementum. Vitae purus faucibus ornare suspendisse.</p>
        <br>
        <p>Dui nunc mattis enim ut tellus elementum sagittis vitae. Enim tortor at auctor urna nunc id cursus metus. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Risus feugiat in ante metus dictum at. Est velit egestas dui id ornare arcu odio. Risus feugiat in ante metus dictum at tempor. In vitae turpis massa sed elementum tempus egestas sed. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Sit amet nulla facilisi morbi tempus. Mauris augue neque gravida in. Aliquam ut porttitor leo a diam. Imperdiet nulla malesuada pellentesque elit. Adipiscing bibendum est ultricies integer quis. Sed libero enim sed faucibus turpis in eu. Dictum non consectetur a erat nam at lectus urna. Dui nunc mattis enim ut tellus elementum. Vitae purus faucibus ornare suspendisse.</p>
        <br>
        <p>Dui nunc mattis enim ut tellus elementum sagittis vitae. Enim tortor at auctor urna nunc id cursus metus. At ultrices mi tempus imperdiet nulla malesuada pellentesque. Risus feugiat in ante metus dictum at. Est velit egestas dui id ornare arcu odio. Risus feugiat in ante metus dictum at tempor. In vitae turpis massa sed elementum tempus egestas sed. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Sit amet nulla facilisi morbi tempus. Mauris augue neque gravida in. Aliquam ut porttitor leo a diam. Imperdiet nulla malesuada pellentesque elit. Adipiscing bibendum est ultricies integer quis. Sed libero enim sed faucibus turpis in eu. Dictum non consectetur a erat nam at lectus urna. Dui nunc mattis enim ut tellus elementum. Vitae purus faucibus ornare suspendisse.</p>
        <a  id="contact" [routerLink]="['']"class="contact-anchor">Contact Now!</a>

    </div>
    </div>
    
    <div class="float-child-second">
      <div class="blue">
        <img style="width:25%"  src="../assets/dress1.jpg" alt="">
        <img style="width:27%"  src="../assets/dress2.jpg" alt="">
        <img style="width:25%"  src="../assets/dress3.jpg" alt="">
        <img style="width:25%"  src="../assets/dress4.jpg" alt="">
        <img style="width:25%"  src="../assets/dress5.jpg" alt="">
        <img style="width:25%"  src="../assets/dress1.jpg" alt="">
        
        
      </div>
    </div>
    
  </div>
</body>
</html>